form.button{
    color: royalblue;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;

}
.logo-image{
    max-width: 60px;
    max-height: auto;
}
.navbar-logo{
    color: #FFF;
    font-size: 28px;
  }
.navbar-logo:hover {
     color: rgb(224, 203, 6)
  }
div.intro-text{
    background-color: rgba(96, 171, 221,0.6);
    height: 200px;
    
}

.navbar{
    border-bottom: 3px solid white;
}

.navbar a:hover{
    background-color: rgb(96, 171, 221);
    border-bottom: 3px solid yellow;
}

div.students{
    background-color: rgb(96, 171, 221);
}
